<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */

/** @var \Mbs\ContactWithAvatar\ViewModel\FormWithPicture $viewModel */
$viewModel = $block->getData('viewModel');
?>
<form class="form contact"
      action="<?= $block->escapeUrl($viewModel->getFormAction()) ?>"
      id="custom-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'
      enctype="multipart/form-data" >
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Post your pic')) ?></span></legend><br />
        <div class="field note no-label"><?= $block->escapeHtml(__('Hello, fancy showing your avatar?')) ?></div>
        <div class="field name required">
            <label class="label" for="nickname"><span><?= $block->escapeHtml(__('Nickname')) ?></span></label>
            <div class="control">
                <input name="nickname" id="nickname" title="<?= $block->escapeHtmlAttr(__('Nickname')) ?>" value="<?= $block->escapeHtmlAttr($viewModel->getPostValue('Nickname') ?: $viewModel->getNickName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field avatar required">
            <label class="label" for="avatar"><span><?= $block->escapeHtml(__('Avatar')) ?></span></label>
            <div class="control">
                <input type="file" name="avatar" id="avatar" title="<?= $block->escapeHtmlAttr(__('Your Avatar')) ?>" accept="image/*" />
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <?= $block->getBlockHtml('formkey') ?>
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>

<script type="text/x-magento-init">
    {
        "*": {
            "Mbs_ContactWithAvatar/js/useme": {
                "postFormUrl": "<?php echo $viewModel->getFormAction(); ?>"
            }
        }
    }
</script>